<div class="main_title">
    Κατηγορίες εισιτηρίων
    <button class="btn"><span class="material-symbols-outlined">add</span>Νέα κατηγορία</button>
</div>
<hr>

<div>
    {{#each categories}}
    <div class="ticket_category">
        <div>{{this.name}}</div>
        <div>
            <button class="dropdown-btn">
                <i class="fas fa-chevron-down"></i>
            </button>
        </div>
    </div>

    <div class="dropdown-content" style="margin-left: 2rem; display: none;">
        <button class="btn" style="margin-bottom: 1.2rem">
            <span class="material-symbols-outlined">add</span>Νέα διαθεσιμότητα
        </button>
        <table>
            <thead>
                <tr>
                    <th>Ημέρα</th>
                    <th>Ώρες</th>
                    <th>Συνολικά εισητήρια</th>
                    <th>Αγορασμένα εισητήρια</th>
                    <th>Διαθέσιμα εισητήρια</th>
                    <th>Ενέργειες</th>
                </tr>
            </thead>
            <tbody>
                {{#each this.availabilities}}
                <tr>
                    <td>{{this.date}}</td>
                    <td>{{this.time}}</td>
                    <td>{{this.total}}</td>
                    <td>{{this.sold}}</td>
                    <td>{{this.available}}</td>
                    <td class="actions-cell">
                        <div class="action-wrapper">
                            <button class="edit-action-btn">
                                <span class="material-symbols-outlined">edit</span>
                            </button>
                            <div class="action-menu hidden">
                                <button class="action-delete">
                                    <span class="material-symbols-outlined">delete</span>Διαγραφή
                                </button>
                                <button class="action-edit">
                                    <span class="material-symbols-outlined">edit_square</span>Επεξεργασία
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <hr style="margin: 2rem">
    {{/each}}
</div>