<div class="main_title">
    Χρήστες
    <button class="new-user"><span class="material-symbols-outlined">add</span>Νέος χρήστης</button>
</div>
<div style="color: red; font-weight: bold; margin-top: 10px; margin-bottom: 10px;">
    {{error}}
</div>
<table>
    <thead>
        <tr>
            <th>Id Χρήστη</th>
            <th>Όνομα</th>
            <th>Email</th>
            <th>Ενέργεια</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.displayName}} ({{this.login}})</td>
                <td>{{this.email}}</td>
                <td class="actions-cell">
                    <div class="action-wrapper">
                        <button class="edit-action-btn">
                            <span class="material-symbols-outlined">edit</span>
                        </button>
                        <div class="action-menu hidden">
                            {{#if this.displayDelete}}
                            <button class="action-delete" onclick="fetch('/api/deleteUser/{{this.id}}', {'method':'DELETE'}).then(()=>{document.location.reload()})">
                                <span class="material-symbols-outlined">delete</span>Διαγραφή
                            </button>
                            {{/if}}
                            <button class="action-edit" data-id="{{this.id}}">
                                <span class="material-symbols-outlined">edit_square</span>Επεξεργασία
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>

<div id="overlay" class="overlay"></div>
<div id="editPopup" class="popup">
    <form id="userEdit" class="popup-content" method="post" action="/api/editUser">
        <h2>Επεξεργασία στοιχείων</h2>
        <input id="userId" type="number" name="userId" value="0" style="display: none;">
        <input id="editDisplayName" type="text" id="displayName" name="displayName" placeholder="Όνομα Εμφάνισης" required />
        <input id="editEmail" type="email" id="userEmail" name="userEmail" placeholder="Email" required />
        <button type="submit" class="btn">Αποθήκευση</button>
    </form>
</div>

<div id="newUserPopup" class="popup">
    <form id="newUser" class="popup-content" method="post" action="/api/newUser">
        <h2>Νέος χρήστης</h2>
        <input type="email" id="userEmail" name="userEmail" placeholder="Email" required />
        <input type="text" id="displayName" name="displayName" placeholder="Όνομα Εμφάνισης" required />
        <input type="text" id="username" name="username" placeholder="Όνομα Σύνδεσης" required />
        <button type="submit" class="btn">Εγγραφή</button>
    </form>
</div>